.nav {
  align-items: center;
  background-color: #ff595e;
  color: #fefefe;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}

.navItems {
  display: flex;
}

.navItem {
  padding: 1rem 2rem;
  transition: color 0.4s;
}

.navItem:hover {
  color: #000000;
}

@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
  }
}
